name: ci

on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']
  workflow_dispatch:

concurrency:
  group: shionlib-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  frontend-checks:
    name: Frontend Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Prettier
        run: pnpm --filter shionlib-frontend format:check

      - name: ESLint
        run: pnpm --filter shionlib-frontend lint

      - name: Type check
        run: pnpm --filter shionlib-frontend typecheck

  backend-checks:
    name: Backend Checks
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/postgres?schema=public
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Generate Prisma Client
        run: pnpm --filter shionlib-backend prisma:generate

      - name: Prettier
        run: pnpm --filter shionlib-backend format:check

      - name: ESLint
        run: pnpm --filter shionlib-backend lint:check

      - name: Type check
        run: pnpm --filter shionlib-backend typecheck

      - name: Prisma validate
        run: pnpm --filter shionlib-backend prisma:validate
